<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
 

<div class="container">
  
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Temporada 1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Se acerca el invierno</td>
                <td><a href="https://cuevana2.io/episodio/1-01-winter-is-coming-2/" target="_blank">1-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>1</td>
                <td>El camino real</td>
                <td><a href="https://cuevana2.io/episodio/1-02-the-kingsroad-2/" target="_blank">1-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>1</td>
                <td>Lord Nieve</td>
                <td><a href="https://cuevana2.io/episodio/1-03-lord-snow-2/" target="_blank">1-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>1</td>
                <td>Tullidos, bastardos y cosas rotas</td>
                <td><a href="https://cuevana2.io/episodio/1-04-cripples-bastards-and-broken-things/" target="_blank">1-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>1</td>
                <td>El lobo y el león</td>
                <td><a href="https://cuevana2.io/episodio/1-05-the-wolf-and-the-lion/" target="_blank">1-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>1</td>
                <td>Una corona de oro</td>
                <td><a href="https://cuevana2.io/episodio/1-06-a-golden-crown/" target="_blank">1-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>1</td>
                <td>Ganas o mueres</td>
                <td><a href="https://cuevana2.io/episodio/1-07-you-win-or-you-die/" target="_blank">1-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>1</td>
                <td>Por el lado de la punta</td>
                <td><a href="https://cuevana2.io/episodio/1-08-the-pinty-end/" target="_blank">1-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>1</td>
                <td>Baelor</td>
                <td><a href="https://cuevana2.io/episodio/1-09-baelor/" target="_blank">1-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>1</td>
                <td>Fuego y hielo</td>
                <td><a href="https://cuevana2.io/episodio/1-10-fire-and-blood/" target="_blank">1-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2</td>
                <td>El norte no olvida</td>
                <td><a href="https://cuevana2.io/episodio/2-01-you-win-or-you-die/" target="_blank">2-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Las tierras de la noche</td>
                <td><a href="https://cuevana2.io/episodio/2-02-the-north-remembers/" target="_blank">2-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2</td>
                <td>Lo que está muerto no puede morir</td>
                <td><a href="https://cuevana2.io/episodio/2-03-what-is-dead-may-never-die/" target="_blank">2-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>2</td>
                <td>Jardín de huesos</td>
                <td><a href="https://cuevana2.io/episodio/2-04-garden-of-bones/" target="_blank">2-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>2</td>
                <td>El fantasma de Harrenhal</td>
                <td><a href="https://cuevana2.io/episodio/2-05-the-ghost-of-harrenhal/" target="_blank">2-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>2</td>
                <td>Los dioses antiguos y nuevos</td>
                <td><a href="https://cuevana2.io/episodio/2-06-the-old-gods-and-the-new-2/" target="_blank">2-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>2</td>
                <td>Un hombre sin honor</td>
                <td><a href="https://cuevana2.io/episodio/2-07-a-man-without-honor/" target="_blank">2-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>2</td>
                <td>Un príncipe de Invernalia</td>
                <td><a href="https://cuevana2.io/episodio/2-08-un-principe-de-invernalia/" target="_blank">2-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>2</td>
                <td>Aguasnegras</td>
                <td><a href="https://cuevana2.io/episodio/2-09-blackwater-2/" target="_blank">2-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>2</td>
                <td>Valar Morghulis</td>
                <td><a href="https://cuevana2.io/episodio/2-10-valar-morghulis/" target="_blank">2-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Temporada 3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>3</td>
                <td>Valar Dohaeris</td>
                <td><a href="https://cuevana2.io/episodio/1-01-valar-dohaeris/" target="_blank">3-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>3</td>
                <td>Alas negras, palabras negras</td>
                <td><a href="https://cuevana2.io/episodio/3-02-dark-wings-dark-words/" target="_blank">3-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>3</td>
                <td>El camino del castigo</td>
                <td><a href="https://cuevana2.io/episodio/3-03-walk-of-punishment-2/" target="_blank">3-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>3</td>
                <td>Y ahora su guardia ha terminado</td>
                <td><a href="https://cuevana2.io/episodio/3-04-and-now-his-watch-is-ended/" target="_blank">3-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>3</td>
                <td>Besado por el fuego</td>
                <td><a href="https://cuevana2.io/episodio/3-05-kissed-by-fire/" target="_blank">3-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>3</td>
                <td>El ascenso</td>
                <td><a href="https://cuevana2.io/episodio/3-06-the-climb/" target="_blank">3-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>3</td>
                <td>El oso y la doncella</td>
                <td><a href="https://cuevana2.io/episodio/3-07-the-bear-and-the-maiden-fair/" target="_blank">3-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>3</td>
                <td>Los segundos hijos</td>
                <td><a href="https://cuevana2.io/episodio/3-08-second-sons/" target="_blank">3-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>3</td>
                <td>Las lluvias de Castamere</td>
                <td><a href="https://cuevana2.io/episodio/3-09-the-rains-of-castamere/" target="_blank">3-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>3</td>
                <td>Mhysa</td>
                <td><a href="https://cuevana2.io/episodio/3-10-mhysa-2/" target="_blank">3-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 4
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>4</td>
                <td>Dos espadas</td>
                <td><a href="https://cuevana2.io/episodio/4-01-two-swords/" target="_blank">4-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>4</td>
                <td>El león y la rosa</td>
                <td><a href="https://cuevana2.io/episodio/4-02-the-lion-and-the-rose/" target="_blank">4-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>4</td>
                <td>Rompedora de cadenas</td>
                <td><a href="https://cuevana2.io/episodio/4-03-breaker-of-chains/" target="_blank">4-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>4</td>
                <td>Guardajuramentos</td>
                <td><a href="https://cuevana2.io/episodio/4-04-oathkeeper/" target="_blank">4-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>4</td>
                <td>El primero de su nombre</td>
                <td><a href="https://cuevana2.io/episodio/4-05-first-in-his-name/" target="_blank">4-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>4</td>
                <td>Leyes de dioses y hombres</td>
                <td><a href="https://cuevana2.io/episodio/4-06-the-laws-of-the-gods-and-men/" target="_blank">4-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>4</td>
                <td>Sinsonte</td>
                <td><a href="https://cuevana2.io/episodio/4-07-mockingbird/" target="_blank">4-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>4</td>
                <td>La montaña y la víbora</td>
                <td><a href="https://cuevana2.io/episodio/4-08-the-mountain-and-the-viper/" target="_blank">4-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>4</td>
                <td>Los vigilantes del muro</td>
                <td><a href="https://cuevana2.io/episodio/4-09-the-watchers-on-the-wall/" target="_blank">4-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>4</td>
                <td>Los niños</td>
                <td><a href="https://cuevana2.io/episodio/4-10-the-children/" target="_blank">4-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 5
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>Las guerras venideras</td>
                <td><a href="https://cuevana2.io/episodio/5-01-the-wars-to-come/" target="_blank">5-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>5</td>
                <td>La casa de negro y blanco</td>
                <td><a href="https://cuevana2.io/episodio/5-02-the-house-of-black-and-white/" target="_blank">5-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>5</td>
                <td>Gorrión supremo</td>
                <td><a href="https://cuevana2.io/episodio/5-03-high-sparrow/" target="_blank">5-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>5</td>
                <td>Hijos de la arpía</td>
                <td><a href="https://cuevana2.io/episodio/5-04-the-sons-of-the-harpy/" target="_blank">5-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>5</td>
                <td>Mata al chico</td>
                <td><a href="https://cuevana2.io/episodio/5-05-kill-the-boy/" target="_blank">5-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>5</td>
                <td>Nunca doblegado, nunca roto</td>
                <td><a href="https://cuevana2.io/episodio/5-06-unbowed-unbent-unbroken/" target="_blank">5-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>5</td>
                <td>El regalo</td>
                <td><a href="https://cuevana2.io/episodio/5-07-the-gift/" target="_blank">5-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>5</td>
                <td>Casa Austera</td>
                <td><a href="https://cuevana2.io/episodio/5-08-hardhome/" target="_blank">5-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>5</td>
                <td>Danza de dragones</td>
                <td><a href="https://cuevana2.io/episodio/5-09-the-dance-of-dragons/" target="_blank">5-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>5</td>
                <td>Misericordia</td>
                <td><a href="https://cuevana2.io/episodio/5-10-mothers-mercy/" target="_blank">5-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 6
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>6</td>
                <td>La mujer roja</td>
                <td><a href="https://cuevana2.io/episodio/6-01-the-red-woman/" target="_blank">6-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>6</td>
                <td>A casa</td>
                <td><a href="https://cuevana2.io/episodio/6-02-home/" target="_blank">6-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>6</td>
                <td>Perjurio</td>
                <td><a href="https://cuevana2.io/episodio/6-03-oathbreaker/" target="_blank">6-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>6</td>
                <td>Libro del desconocido</td>
                <td><a href="https://cuevana2.io/episodio/6-04-book-of-the-stranger/" target="_blank">6-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>6</td>
                <td>El portón</td>
                <td><a href="https://cuevana2.io/episodio/6-05-the-door/" target="_blank">6-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>6</td>
                <td>Sangre de mi sangre</td>
                <td><a href="https://cuevana2.io/episodio/6-06-blood-of-my-blood/" target="_blank">6-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>6</td>
                <td>El hombre destrozado</td>
                <td><a href="https://cuevana2.io/episodio/6-07-the-broken-man/" target="_blank">6-7</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>6</td>
                <td>Nadie</td>
                <td><a href="https://cuevana2.io/episodio/6-08-no-one/" target="_blank">6-8</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>6</td>
                <td>La batalla de los bastardos</td>
                <td><a href="https://cuevana2.io/episodio/6-09-battle-of-the-bastards/" target="_blank">6-9</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>6</td>
                <td>Vientos de invierno</td>
                <td><a href="https://cuevana2.io/episodio/6-10-the-winds-of-winter/" target="_blank">6-10</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 7
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>7</td>
                <td>Rocadragón</td>
                <td><a href="https://cuevana2.io/episodio/7-01-dragonstone/" target="_blank">7-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>7</td>
                <td>Bajo la Tormenta</td>
                <td><a href="https://cuevana2.io/episodio/7-02-stormborn/" target="_blank">7-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>7</td>
                <td>La justicia de la Reina</td>
                <td><a href="https://cuevana2.io/episodio/7-03-the-queens-justice/" target="_blank">7-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>7</td>
                <td>Botines de Guerra</td>
                <td><a href="https://cuevana2.io/episodio/7-04-the-spoils-of-war/" target="_blank">7-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>7</td>
                <td>Guardiaoriente</td>
                <td><a href="https://cuevana2.io/episodio/7-05-eastwatch/" target="_blank">7-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>7</td>
                <td>Más allá del Muro</td>
                <td><a href="https://cuevana2.io/episodio/7-06-death-is-the-enemy/" target="_blank">7-6</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>7</td>
                <td>El Dragón y el Lobo</td>
                <td><a href="https://cuevana2.io/episodio/7-07-the-dragon-and-the-wolf/" target="_blank">7-7</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Temporada 8
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"># Episodio</th>
                <th scope="col">Temporada</th>
                <th scope="col">Nombre</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>8</td>
                <td>Invernalia</td>
                <td><a href="https://cuevana2.io/episodio/8-01-winterfell/" target="_blank">8-1</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>8</td>
                <td>El caballero de los Siete Reinos</td>
                <td><a href="https://cuevana2.io/episodio/8-02-a-knight-of-the-seven-kingdoms/" target="_blank">8-2</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>8</td>
                <td>La larga Noche</td>
                <td><a href="https://cuevana2.io/episodio/8-03-episodio-8-3/" target="_blank">8-3</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>8</td>
                <td>El último de los Starks</td>
                <td><a href="https://cuevana2.io/episodio/8-04-episodio-8-4/" target="_blank">8-4</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>8</td>
                <td>Las campanas</td>
                <td><a href="https://cuevana2.io/episodio/8-05-episodio-8-5/" target="_blank">8-5</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>8</td>
                <td>El trono de Hierro</td>
                <td><a href="https://cuevana2.io/episodio/8-06-episodio-8-6/" target="_blank">8-6</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



















































  </div>
    


      
</div>
