
<div class="container-lg central">

    <div class="row content-card">

        <div class="col-12 col-md-5 col-lg card">
            <div class="libros">
            <img class="imag-card" src="https://imagenesal.bros.me/9786073128834.jpg" alt="">
            </div>
            <div class="info__description">
                <h4>Juego de tronos</h4>
                <p>En el legendario mundo de los Siete Reinos, donde el verano puede durar décadas y el invierno toda una vida, y donde rastros de una magia inmemorial surgen 
                    en los rincones más sombríos, la tierra del norte, Invernalia, está resguardada por un colosal muro de hielo que detiene
                    a fuerzas oscuras y sobrenaturales. En este majestuoso escenario, lord Stark y su familia se encuentran en el centro de 
                    un conflicto que desatará todas las pasiones: la traición y la lealtad, la compasión y la sed de venganza, el amor y el 
                    poder, la lujuria y el incesto, todo ello para ganar la más mortal de las batallas: el trono de hierro, una poderosa 
                    trampa que atrapará a los personajes y al lector.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg card">
            <div class="libros">
              <img class="imag-card" src="https://images-na.ssl-images-amazon.com/images/I/71ApwK-2NgL.jpg" alt="">
            </div>
            <div class="info__description">
                <h4>Choque de Reyes</h4>
                <p>Segundo volumen, la saga fantástica que ha conquistado a millones de lectores en todo el mundo. En esta novela 
                    prodigiosa nada es realmente lo que parece ser. Los protagonistas, trazados con una complejidad asombrosa, son 
                    capaces de hacerse odiar o amar desde las primeras páginas. George R. R. Martín, con pulso firme y enérgico, 
                    vuelve a ofrecernos un brillante despliegue de personajes, en una trama rica, densa y sorprendente. Nos convierte
                    en testigos de luchas fratricidas, intrigas y traiciones palaciegas en una tierra maldita por la guerra, donde 
                    fuerzas ocultas se alzan de nuevo y asechan para reinar en las noches del largo invierno que se avecina.          
                </p>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg card">
            <div class="libros">
              <img class="imag-card" src="https://www.penguinlibros.com/uy/239119/tormenta-de-espadas-cancion-de-hielo-y-fuego-iii.jpg" alt="">
            </div>
            <div class="info__description">
                <h4>Tormenta de Espadas</h4>
                <p>Arrasados por la guerra, los Siete Reinos pronto sufrirán el larguísimo invierno que se predice como 
                    inusitadamente crudo. Y mientras empeoran la violencia y el clima, los personajes entrañables e infames que ya 
                    conocemos continúan debatiéndose entre feroces batallas y perversas intrigas palaciegas. Pero otra fuerza armada,
                    con la que nadie contaba, surge desde más allá del Muro de Hielo: Se trata de los Otros, un ejército sobrenatural
                    de muertos vivientes, cuyos cuerpos inertes no podrán ser detenidos.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg card">
            <div class="libros">
              <img class="imag-card" src="https://images-na.ssl-images-amazon.com/images/I/81qA5idvuFL.jpg" alt="">
            </div>
            <div class="info__description">
                <h4>Festín de Cuervos</h4>
                <p>Cuarto tomo de la saga, luego de siglos de guerras descarnadas, los siete poderes que dividen la tierra se han 
                    diezmado unos a otros hasta alcanzar una difícil tregua. Muy pocos reclamos legítimos existen ya por el Trono 
                    de Hierro, y la guerra que ha convertido al mundo en poco más que un desierto al fin ha terminado. O eso parece.
                    Pero no pasa mucho tiempo antes de que los sobrevivientes, los proscritos, los renegados y los carroñeros de los
                    Siete Reinos se reúnan. Nobles y plebeyos, soldados y hechiceros, asesinos y sabios se unen para hacer valer su vida y sus 
                    fortunas. Porque en un festín de cuervos, muchos son los invitados pero sólo unos pocos logran sobrevivir.
                </p>
            </div>
        </div>   

        <div class="col-12 col-md-5 col-lg card">
            <div class="libros">
                <img class="imag-card" src="https://www.penguinlibros.com/co/404459/danza-de-dragones.jpg" alt="">
            </div>
            <div class="info__description">
                <h4>Danza de Dragones</h4>
                    <p>Después de una colosal batalla, el futuro de los Siete Reinos pende de un hilo, acuciado por nuevas amenazas 
                        que emergen de todos los rincones y en todas direcciones. De todos los rincones, enconados conflictos cobran 
                        bríos, traiciones íntimas se perpetran y un gran elenco de proscritos y sacerdotes, soldados y criaturas 
                        camaleónicas, nobles y esclavos, enfrentarán obstáculos en apariencia insuperables. Algunos fracasarán, 
                        otros crecerán en la fuerza de la oscuridad. Pero en tiempos de agitación in crescendo, los hilos del 
                        destino y la política arrasarán a los personajes y al lector, inevitablemente, a la más espectacular de las 
                        danzas.
                    </p>
            </div>
        </div>
    </div>
  </div>