<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<body>
    <div class="container">
        <h1>ESTRENO DE LA OCTAVA Y ÚLTIMA TEMPORADA</h1>
        <p>
            El estreno de la octava y última temporada de 'Juego de Tronos' llegará la noche del domingo 14 al lunes 15 abril del 2019.
            Sus creadores anunciaron a principios del año 2018 que sería en 2019 cuando la veríamos, y el pasado noviembre se anunció 
            oficialmente el mes concreto del retorno con un primer teaser trailer.
        </p>
        <p class="cursiva">
            <i>El primer episodio de la octava temporada de Juego de Tronos se estrena el día 15 de abril a las 03:00 de la madrugada
                (hora española) en HBO y Movistar, primero en versión original y a continuación en versión dual.</i>
        </p>
        <div class="container">
            <div class="ratio ratio-16x9">
                <iframe width="1044" height="587" src="https://www.youtube.com/embed/aaeBMP4VqKM" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    <br>



    <div class="container">
        <h1>¿POR QUÉ LOS FANATICOS ESTÁN TAN MOLESTOS CON LA ÚLTIMA TEMPORADA?</h1>
        <br>
        <p>Los fans de "Game of Thrones" están hartos. Se suponía que esta última temporada sería el punto culminante de una brillante 
        narración, el momento en el que todas las piezas de este complejo e intrincado rompecabezas de Westeros finalmente se pondrían 
        en su lugar.</p>

        <img src="https://static.chaos.com/gallery_images/images/000/001/005/gallery_image/scanline-game-of-thrones-season-8-03-vray-maya.jpg?1623179281"
        class="img-fluid">
        <br>
        <p>
            En cambio, los fanáticos se están quejando en las redes sociales de que el argumento es apresurado, hay cabos sueltos sin 
            explicación y que algunos de sus personajes favoritos hacen cosas que no lucen fieles a su naturaleza.
        </p>
        <p>
            El episodio de 80 minutos de la semana pasada dio un giro repentino y oscuro al convertir a la heroína Daenerys Targaryen 
            en un monstruo loco por la guerra que utilizó a su único dragón sobreviviente para acabar con cientos de miles de vidas 
            inocentes.
        </p>
        <p>Cuando falta un solo episodio para que termine la serie, eso ya fue demasiado para los fanáticos. Más de 800.000 de ellos 
            han firmado una petición de Change.org instando a HBO a rehacer la temporada final.</p>
        <p>Mientras nos dirigimos al final del domingo por la noche, estas son algunas de las principales quejas de los fanáticos.</p>
            <ul>
                <li>El ritmo es demasiado vertiginoso para sólo seis episodios</li>
                <li>El guión deja demasiadas dudas</li>
                <li>Las decisiones de los personajes no tienen sentido</li>
                <li>El programa no es tan progresista como parecía</li>
            </ul>
        <h3>Pero, ¿Ustedes qué opinan?</h3>
        <br>
        <div class="container">
            <div class="ratio ratio-16x9">
                <iframe width="1044" height="587" src="https://www.youtube.com/embed/8WAOQh9JbOo" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>  
        </div>
         
    </div>
</body>
